click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
PyMySQL==1.0.2
SQLAlchemy==1.4.29
Werkzeug==2.0.2
mediapipe
numpy==1.22.3 
opencv-python==4.5.5.64
pandas==1.4.1
pillow==9.0.1 
scipy==1.8.0
